<h1>Criando um controler atraves do comando: rails g controller "nome_do_controller"</h1>

<h3><%= @teste %></h3>

<p><a href="/customers">Cadastro de Clientes</a><br>

<%= link_to "CADASTRO DE CLIENTES", customers_path %>

<h3>
    <%= t('hello')%>
</h3>